/* line 1, ../sass/icons.sass */
[class*="icon-"] {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 12, ../sass/icons.sass */
.icon-menu:before {
  content: "\e600";
}

/* line 15, ../sass/icons.sass */
.icon-close:before {
  content: "\e601";
}

/* line 18, ../sass/icons.sass */
.icon-minus:before {
  content: "\e602";
}

/* line 21, ../sass/icons.sass */
.icon-plus:before {
  content: "\e603";
}

/* line 24, ../sass/icons.sass */
.icon-forward:before {
  content: "\e604";
}

/* line 27, ../sass/icons.sass */
.icon-backward:before {
  content: "\e605";
}

/* line 30, ../sass/icons.sass */
.icon-facebook:before {
  content: "\e606";
}

/* line 33, ../sass/icons.sass */
.icon-twitter:before {
  content: "\e607";
}

/* line 36, ../sass/icons.sass */
.icon-google:before {
  content: "\e608";
}

/* line 39, ../sass/icons.sass */
.icon-mail:before {
  content: "\e609";
}

/* line 42, ../sass/icons.sass */
.icon-star:before {
  content: "\e60a";
}

/* line 45, ../sass/icons.sass */
.icon-star2:before {
  content: "\e60b";
}

/* line 48, ../sass/icons.sass */
.icon-eye:before {
  content: "\e60c";
}

/* line 51, ../sass/icons.sass */
.icon-bookmark:before {
  content: "\e60d";
}

/* line 54, ../sass/icons.sass */
.icon-menu:before {
  content: "\e60e";
}

/* line 57, ../sass/icons.sass */
.icon-numbered-list:before {
  content: "\e60f";
}

/* line 60, ../sass/icons.sass */
.icon-list:before {
  content: "\e610";
}

/* line 63, ../sass/icons.sass */
.icon-list2:before {
  content: "\e611";
}

/* line 66, ../sass/icons.sass */
.icon-user:before {
  content: "\e612";
}

/* line 69, ../sass/icons.sass */
.icon-location:before {
  content: "\e613";
}

/* line 72, ../sass/icons.sass */
.icon-image:before {
  content: "\e614";
}
