              .pure-u-1
                #buero.content
                  .pure-g-r
                    .pure-u-1-4
                      h3 
                        | Christian Dirumdam
                        br
                        | Dipl.-Ing. Architekt
                      h3 
                        | Timo Heise
                        br
                        | Dipl.-Ing. Architekt
                      h3 
                        | Christian Dahle
                        br
                        | Dipl.-Ing. Architekt
                      br
                      br
                      strong Team seit 2011
                      dl
                        dd Gereon Töpper
                        dd Mathias Köster
                        dd Lisa Erlenhof
                        dd Marco Gärtner
                        dd Mark Streich
                        dd Anne Osthus

                    .pure-u-3-4
                      img src="images/portraits/schaltraum_team.jpg"