              .pure-u-1
                #list-container.content
                	.item
                		a href="project.html"
	                		.img-container
		                		img src="http://lorempixel.com/210/200/city/"
		                		.img-text
		                			| Bla
                	.item
              			a href="project.html"
	                		.img-container
		                		img src="http://placekitten.com/210/175"
		                		.img-text
		                			| Lorem Ipsum
                	.item
              			a href="project.html"
	                		.img-container
		                		img src="http://lorempixel.com/210/200/city/2"
		                		.img-text
		                			| Lorem Ipsum
                	.item
              			a href="project.html"
	                		.img-container
		                		img src="http://placekitten.com/210/175"
		                		.img-text
		                			| Lorem Ipsum
                	.item
              			a href="project.html"
	                		.img-container
		                		img src="http://lorempixel.com/210/180/city/"
		                		.img-text
		                			| Lorem Ipsum
                	.item
              			a href="project.html"
	                		.img-container
		                		img src="http://placekitten.com/210/120"
		                		.img-text
		                			| Lorem Ipsum
                	.item
              			a href="project.html"
	                		.img-container
		                		img src="http://lorempixel.com/210/200/city/1"
		                		.img-text
		                			| Lorem Ipsum
                	.item
              			a href="project.html"
	                		.img-container
		                		img src="http://placekitten.com/210/300"
		                		.img-text
		                			| Lorem Ipsum
                	.item
              			a href="project.html"
	                		.img-container
		                		img src="http://lorempixel.com/210/200/city/"
		                		.img-text
		                			| Lorem Ipsum
                	.item
              			a href="project.html"
	                		.img-container
		                		img src="http://placekitten.com/210/175"
		                		.img-text
		                			| Lorem Ipsum