              .pure-u-1
                .content
                  .main
                    img src="images/13_04_WBW_AACHEN/website/Perspektive_Terrasse.jpg"
                  .thumbs
                    .pure-g
                      .pure-u-1-2
                        .pure-g-r
                          .pure-u-1-5
                            a
                              img src="images/13_04_WBW_AACHEN/thumb/gr_eg.jpg"
                          .pure-u-1-5
                            a
                              img src="images/13_04_WBW_AACHEN/thumb/gr_og.jpg"
                          .pure-u-1-5
                            a
                              img src="images/13_04_WBW_AACHEN/thumb/lageplan.jpg"
                          .pure-u-1-5
                            a
                              img src="images/13_04_WBW_AACHEN/thumb/Perspektive_Hof.jpg"
                          .pure-u-1-5
                            a
                              img src="images/13_04_WBW_AACHEN/thumb/Perspektive_innen.jpg"
                      .pure-u-1-2
                        .pure-g-r
                          .pure-u-1-5
                            a
                              img src="images/13_04_WBW_AACHEN/thumb/Perspektive_Terrasse.jpg"
                          .pure-u-1-5
                            a
                              img src="images/13_04_WBW_AACHEN/thumb/pictos.png"
                          .pure-u-1-5
                            a
                              img src="images/13_04_WBW_AACHEN/thumb/pictos_innenraum.png"
                          .pure-u-1-5
                            a
                              img src="images/13_04_WBW_AACHEN/thumb/schnitt1.png"
                          .pure-u-1-5
                            a
                              img src="images/13_04_WBW_AACHEN/thumb/schnitt2.jpg"
            .pure-g
              .pure-u-1
                .project-content
                  h1 Kongresshaus Baden Baden - Fassadenwettbewerb 1.Preis
                  h2 Begrenzter Wettbewerb, 2012, 1.Preis
                  dl
                    dt Typologie:
                    dd Kulturbauten, Sanierung
                    dt Bauherr / Auslober:
                    dd Stadt Baden-Baden
                    dt Fassadenfläche neu:
                    dd 2.460 qm
                    dt Bruttorauminhalt neu:
                    dd 2.473 qm
                    dt Netto-Baukosten:
                    dd 2,5 Mio. Euro
                  .description
                    | Die Neugestaltung der Fassaden des Kongresshauses Baden-Baden reagiert differenziert auf die unterschiedlichen Maßstäbe und Bezüge der umstehenden Bauten 
                      und behebt so funktionale, technische und städtebauliche Defizite des Gebäudeensembles. 
                      Dabei wird ein dialektischer Entwurfsansatz verfolgt, der die Originalsubstanz des heterogenen Bestands wie auch eine zeitgemäße Formensprache wertschätzt und 
                      daraus eine übergreifende, identitätsstiftende Gestaltung ableitet.  Es entsteht eine gemeinsam lesbare Gebäudestruktur, die durch verschiedenartige Öffnungs-grade 
                      und Transparenzen in Dialog mit der Umgebung tritt, die vielfältigen Innenräume zusammenfasst und eine stärkere Wirkung der bereits existenten Freiraumqualitäten 
                      etabliert. Die charakteristischen Balkone des 1966 bis 1968 von Günther Seemann als Solitär errichteten Kongresshauses werden durch das Zusammenziehen mit 
                      dem Dachband über eine Vertikale gleicher Stärke in eine neue Lesart überführt und greifen als Vordach in Richtung der Lichtentaler Allee aus. Eine neu eingeführte, 
                      filigrane Struktur aus rhythmisierten Aluminiumrohren als zweite Fassadenschicht betont die geometrisch klare Silhouette der Großform und arbeitet in ihrer Tiefen
                      wirkung die Plastizität der Fassade heraus. 